.row{
  margin-right: 0!important;
  margin-left: 0!important;
}

#log_div{
	background-image: url('../images/bg1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color:#ccc; padding-top: 150px;padding-bottom: 150px;
  position: fixed;
  height: 100%;
  width: 100%;

}
.pdf_hours:hover{
  cursor: pointer;
  background-color: #D1DED8;
}
#log_intra_div{
	background-color:#F8FBF7;min-height: 320px;box-shadow: 2px 2px 2px #666;

}

#error_display{
  color:red;
}
.table{
  font-size: 13.5px
}

.main-body{
    background: #D1DED8;
}    

.module-div{
  background-color:#F8FBF7;
  min-height: 250px;
  margin-top: 10px;
  margin-bottom: 10px; 
}
.mymodule{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.navbar-default {
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#172a3a+0,53679b+100 */
  background: #172a3a; /* Old browsers */
  background: -moz-linear-gradient(left,  #172a3a 0%, #53679b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #172a3a 0%,#53679b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #172a3a 0%,#53679b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172a3a', endColorstr='#53679b',GradientType=1 ); /* IE6-9 */

    border:0;
    color:#F0F7EE!important;
}

.navbar-default .navbar-text {
    color:#F0F7EE!important;
}
.module-card{
  height: 180px;
}

.module-card> img{
  width: 100%;
}

.module-buttons{
  background: #F8FBF7;
  height: 150px;
  padding: 10px;
}
.btn-success{
  background-color: #89C26C!important;
  border:0 !important;
  text-transform: uppercase;
}
.module-title{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.btn-danger{
  background-color: #D64E42!important;
  border:0 !important;
  text-transform: uppercase;
}

.btn-danger:hover{
  background-color: #C54E42!important;
}
.btn-success:hover{
  background-color: #7DB163!important;
  border:0 !important;
}

.navbar-default .navbar-brand {
     color:#F0F7EE!important;
     border:0!important;
}

#logout_btn{
  color:#D64E42;
}
.inform-row:hover{
  cursor: pointer;
  background-color: #D1DED8;
}

.unsolved_calls:hover{
  cursor: pointer;
  background-color: #FFE4E1;
}

.solved_calls:hover{
  cursor: pointer;
  background-color: #D1DED8;
}

.unsolved_calls2:hover{
  cursor: pointer;
  background-color: #FFE4E1;
}

.solved_calls2:hover{
  cursor: pointer;
  background-color: #D1DED8;
}