.row{
  margin-right: 0!important;
  margin-left: 0!important;
}

#log_div{
	background-image: url('../images/bg1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color:#ccc; padding-top: 150px;padding-bottom: 150px;
  position: fixed;
  height: 100%;
  width: 100%;

}
.pdf_hours:hover{
  cursor: pointer;
  background-color: #D1DED8;
}
#log_intra_div{
	background-color:#F8FBF7;min-height: 320px;box-shadow: 2px 2px 2px #666;

}

#error_display{
  color:red;
}
.table{
  font-size: 13.5px
}

.main-body{
    background: #D1DED8;
}    

.module-div{
  background-color:#F8FBF7;
  box-shadow: 3px 3px 3px #222;
  min-height: 250px;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.navbar-default {
    background-color: #172A3A!important;
    border:0;
    color:#F0F7EE!important;
}

.navbar-default .navbar-text {
    color:#F0F7EE!important;
}

.btn-success{
  background-color: #89C26C!important;
  border:0 !important;
  text-transform: uppercase;
}

.btn-danger{
  background-color: #D64E42!important;
  border:0 !important;
  text-transform: uppercase;
}

.btn-danger:hover{
  background-color: #C54E42!important;
}
.btn-success:hover{
  background-color: #7DB163!important;
  border:0 !important;
}

.navbar-default .navbar-brand {
     color:#F0F7EE!important;
     border:0!important;
}

#logout_btn{
  color:#D64E42;
}
.inform-row:hover{
  cursor: pointer;
  background-color: #D1DED8;
}